body {background:black;}

h1{color:white;font-size: 40px;}
h6{color:skyblue;}
h3 {color:white;}


p{color:white;
	front-size:40px;}

img{border:5px solid white;}

/*iframe{border:5px solid white;}*/

